img{width:100%; max-height: 350px}
.main-nav .navbar-right{
    padding-top:25px;
}
body{
   /* background: url(http://www.zingerbug.com/Backgrounds/background_images/gray_canvas_seamless.jpg); */
    /* background-repeat-x: initial; */
    /* background-position: center; */
    /* background-size: contain; */
    background: rgba(216, 215, 215, 0.6);
    background-repeat: repeat-x;
    background-repeat: repeat;
}
h1, h2{
    color: #000; 
}
caption, th {
    text-align: center;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
#register span{
    color: #434343;
}

#register .has-error .help-block {
    color: #f44336;
}
#register .has-success .help-block {
    color: #327534;
}
#wrapper .has-error input:not([type="checkbox"]) {
    border: 1px solid #f44336;
    box-shadow: 0px 0px 1px 0.5px rgba(232, 37, 37, 0.7) inset;
}
#wrapper .has-success input:not([type="checkbox"]) {
    border: 1px solid #38803b;
    box-shadow: 0px 0px 1px 0.5px #327534 inset;
}
#login .login.button a{
    display: block;
    text-decoration: none;
	font-weight: 600;
	text-align: left;
}
#login .login.button a:hover{
	text-decoration: underline;
}
p.login.button
{
	text-align: left;
    display: inline-block;
    width: 100%;
}
span.reset-block {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
#wrapper p.login.button input{
	float: right;
}
#myModal p{
	color: #000;
	font-weight: 500;
}
/* Footer CSS */

.footer {
	background: #21313F;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #F5F5F5;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #F5F5F5
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
#wrapper{
	min-height: 1000px;
}