<!DOCTYPE html>
<html>
<head>
    <base href="/"> 
    <title>Techaddicto - A Place to find answer to your technical question</title>
    <meta name="description" content="Solution for Technical issue">
    <meta name="keywords" content="JAVA, HTML, CSS">
    <meta name="author" content="Roshni Agrawal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
       <!-- Homepage Css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="assets/css/login-bootstrap.css">   
    <link rel="stylesheet" href="assets/css/tooplate-style.css">  
        <!-- Custom Css -->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>
<body ng-app="myApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>
    <div class="main-container">
        <nav class="navbar navbar-default main-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="#"><img src="./assets/images/logo.png" alt="techaddicto" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/dashboard" ng-show="main.isLoggedIn">Dashboard</a></li>
                    <li><a href="/profile" ng-show="main.isLoggedIn">Profile</a></li>
                    <li><a ng-show="!main.isLoggedIn" href="/login">Login</a></li>
                    <li><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>
                    <li><a href="/logout" ng-show="main.isLoggedIn" ng-click="main.logout()">logout</a></li>
                    <li><a href="#" ng-show="main.isLoggedIn">Hi {{ main.username }}</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div ng-view></div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" ng-click= "main.endSession();" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ main.modalHeader}}</h4>
                                </div>
                                <div class="modal-body">
                                <p>{{ main.modalBody }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click= "main.renewSession();" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                    <button type="button" ng-click= "main.endSession();" class="btn btn-danger" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3> Contact </h3>
                            <ul>
                                <li> <a href="/contact-us"> Contact Us </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3> Important Links </h3>
                            <ul>
                                <li> <a href="#"> Admission </a> </li>
                                <li> <a href="#"> Academic </a> </li>
                                <li> <a href="#"> Career </a> </li>
                                <li> <a href="#"> Administration </a> </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3> Location </h3>
                            <ul>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                                <li> <a href="#"> Lorem Ipsum </a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->

           <!-- <div class="footer-bottom">
                <div class="container">
                    <p class="pull-left"> Copyright © 2017, JKKNIU. All rights reserved.</p>
                    <div class="pull-right">
                        <ul class="nav nav-pills payments">
                            <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                            <li><i class="fa fa-cc-paypal"></i></li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <!--/.footer-bottom-->
        </footer>
    </div>  
    <!-- All JS Files Written Here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- Homepage Js -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) -->
    <script src="assets/js/jquery.singlePageNav.min.js"></script>  <!-- Single page nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <!-- All Controllers Files Written Here -->
    <script src="controllers/userCtrl.js"></script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="controllers/wordpressCtrl.js"></script>
    <script src="controllers/contactCtrl.js"></script>
    <script src="controllers/emailCtrl.js"></script>
    <!-- All Services Files Written Here -->
    <script src="services/userService.js"></script>
    <script src="services/authService.js"></script>
    <script src="services/wordpressService.js"></script>
    <script src="services/contactService.js"></script>
    
</body>
</html>