<div class="container">
    <div class="row show-hide-message" ng-show="passctrl.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{passctrl.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="passctrl.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{passctrl.errorMsg}}</div>
    </div>
    
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form id="loginForm" ng-submit="passctrl.sendPassword(resetData)"> 
                        <h1>Forget Password</h1>
                        <p> 
                            <label for="username"> Your Registered Username </label>
                            <input id="username" name="username" ng-model="passctrl.resetData.username" type="text" placeholder="Registered username" required/>
                        </p>
                        <p class="login button"> 
                            <span class="reset-block">
                                <a href="/resetusername" class="to_forget">Forget Username</a>
                            </span>
                            <input id="btn-submit"  type="submit" value="Submit"/> 
                            
                        </p>
                        <p class="change_link">
                            If you have credentials
                            <a href="/login" class="to_login">Login</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>
