<div class="container">

    <!--<div class="page-header">
        {{ regForm }}
        <h2><starong>Is This Form Pristine (new): </starong>{{ regForm.$pristine }}</h2><br/>
        <h2><starong>Does this form has any errors: </starong>{{ regForm.$error }}</h2><br/>
        <h2><starong>Was Form Submitted: </starong>{{ regForm.$submitted }}</h2><br/>
        <h2><starong>Is this Form is Valid: </starong>{{ regForm.$valid }}</h2>
    </div>-->
    <div class="jumbotron text-center" ng-show="reset.loading">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <p>Loading.....</p>
    </div>
    <div class="row show-hide-message" ng-show="reset.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{reset.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="reset.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{reset.errorMsg}}</div>
    </div>
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div ng-hide="reset.hide" id="register" class="animate form">
                   <form name="regForm" id="registerForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>  
                        <h1> Reset Password </h1> 
                        <p ng-class="{'has-success':(!regForm.password.$pristine && regForm.password.$valid), 'has-error':((!regForm.password.$pristine && !regForm.password.$valid) || (regForm.$submitted && !regForm.password.$valid))}">  
                            <label for="password">New password </label>
                            <input id="password" name="password" ng-model="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            <span class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This is the required Field</span>
                        </p>
                        <p ng-class="{'has-success':(!regForm.confirmpassword.$error.required && confirmed), 'has-error':((!regForm.confirmpassword.$error.required && !confirmed) || (regForm.confirmpassword.$error.required && !regForm.confirmpassword.$pristine))}">  
                            <label for="confirmpassword">Confirm password </label>
                            <input name="confirmpassword" ng-model="confirm" match="{{[password]}}" ng-change="reset.regData.password = confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            <span class="help-block" ng-show="(!regForm.confirmpassword.$pristine && regForm.confirmpassword.$error.required) || (regForm.$submitted && regForm.confirmpassword.$error.required)">This is the required Field</span>
                            <span class="help-block" ng-show="!confirmed && !regForm.confirmpassword.$pristine && regForm.password.$valid && !regForm.confirmpassword.$error.required">Password does not Match</span>
                        </p>
                        <p class="signin button"> 
                            <input id="btn-signup" type="submit" value="Reset"/> 
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>
