<div class="container">
    <div class="row show-hide-message" ng-show="userctrl.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{userctrl.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="userctrl.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{userctrl.errorMsg}}</div>
    </div>
    
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form id="loginForm" ng-submit="userctrl.sendUsername(userData)"> 
                        <h1>Forget Username</h1>
                        <p> 
                            <label for="email"> Your Registered Email Id </label>
                            <input id="email" name="email" ng-model="userctrl.userData.email" type="email" placeholder="Registered Email" required/>
                        </p>
                        <p class="login button"> 
                            <span class="reset-block">
                                <a href="/resetpassword" class="to_forget">Forget password</a>
                            </span>
                            <input id="btn-submit"  type="submit" value="Submit"/> 
                            
                        </p>
                        <p class="change_link">
                            If you have Username
                            <a href="/login" class="to_login">Login</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>
