<div class="container">
  <div class="jumbotron text-center" ng-show="contact.loading">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <p>Loading.....</p>
    </div>
    <div class="row show-hide-message" ng-show="contact.successMsg" >
        <div class="alert alert-success col-md-6 col-md-offset-3">{{contact.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="contact.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{contact.errorMsg}}</div>
    </div>
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal"  ng-submit="contact.sendContact(regData)">
            <fieldset>
              <legend class="text-center">Contact us</legend>
      
              <!-- Name input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Name</label>
                <div class="col-md-9">
                  <input id="name"  ng-model="contact.regData.inputname" type="text" placeholder="Your name" class="form-control">
                </div>
              </div>
      
              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="email">Your E-mail</label>
                <div class="col-md-9">
                  <input id="email"  ng-model="contact.regData.inputemail" type="text" placeholder="Your email" class="form-control">
                </div>
              </div>
      
              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="message">Your message</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="message"  ng-model="contact.regData.inputcomment" placeholder="Please enter your message here..." rows="5"></textarea>
                </div>
              </div>
      
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>