<div class="container">
    <div class="row show-hide-message" ng-show="main.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{main.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="main.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{main.errorMsg}}&nbsp;&nbsp;<a href="/resend" class="btn btn-primary" ng-show="main.expired">Resend account activation link</a></div>
    </div>
    
    <header>
        <h1>Login and Registration Form</h1>
    </header>
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form id="loginForm" ng-submit="main.loginUser(loginData)"> 
                        <h1>Log in</h1> 
                        <p> 
                            <label for="username"> Your username </label>
                            <input id="username" name="username"   ng-model="main.loginData.username" type="text" placeholder="myusername"/>
                        </p>
                        <p> 
                            <label for="password"> Your password </label>
                            <input id="password" name="password"  ng-model="main.loginData.password" type="password" placeholder="eg. X8df!90EO" /> 
                        </p>
                       <!-- <p class="keeplogin"> 
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>-->
                        <p class="login button"> 
                            <span class="reset-block">
                                <a href="/resetusername" class="to_forget">Forget Username</a>
                                <a href="/resetpassword" class="to_forget">Forget password</a>
                            </span>
                            <input id="btn-signin"  type="submit" value="SignIn"/> 
                            
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="/register" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>
