<div class="container">
    <div class="jumbotron text-center" ng-show="wordpress.loading">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <p>Loading.....</p>
    </div>
    <div class="row show-hide-message" ng-show="wordpress.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{wordpress.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="wordpress.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{wordpress.errorMsg}}</div>
    </div>
    <header>
        <h1>Wordpress Posts</h1>
    </header>
    <ul class="media-list">
  <li class="media" ng-repeat="post in wordpress.posts">
   <div class="media-left">
      <a href="{{post.link}}">
        <img ng-src="{{wordpress.images[$index]}}" class="media-object " style="width: 200px;">
      </a>
    </div>
    <div class="media-body">
      <a href="{{post.link}}" target="_blank">
        <h4 class="media-heading">{{post.title.rendered}}</h4>
      </a>
      <div class="post_expert" ng-bind-html="post.excerpt.rendered"></div>
    </div>
  </li>
</ul>
</div>