<div class="page-header">
    <h1>{{ main.username }}'s profile.</h1>
</div>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center"><strong>User Profile</strong></div>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.name }}</td>
            <td>{{ main.email }}</td>
            <td>**************</td>
        </tr>
    </table>
</div>