<div class="container">

    <!--<div class="page-header">
        {{ regForm }}
        <h2><starong>Is This Form Pristine (new): </starong>{{ regForm.$pristine }}</h2><br/>
        <h2><starong>Does this form has any errors: </starong>{{ regForm.$error }}</h2><br/>
        <h2><starong>Was Form Submitted: </starong>{{ regForm.$submitted }}</h2><br/>
        <h2><starong>Is this Form is Valid: </starong>{{ regForm.$valid }}</h2>
    </div>-->
    <div class="jumbotron text-center" ng-show="register.loading">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        <p>Loading.....</p>
    </div>
    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{register.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{register.errorMsg}}</div>
    </div>
    <header>
        <h1>User Registration Form</h1>
    </header>
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="register" class="animate form">
                   <form name="regForm" id="registerForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>  
                        <h1> Sign up </h1> 
                        <p ng-class="{'has-success':(!regForm.name.$pristine && regForm.name.$valid), 'has-error':((!regForm.name.$pristine && !regForm.name.$valid) || (regForm.$submitted && !regForm.name.$valid))}"> 
                            <label for="name">Your name</label>
                            <input id="name" name="name" ng-model="register.regData.name" required="required" type="text" placeholder="mysuperuser" ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-maxlength="20" ng-minlength="3"/>
                            <span class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This is the required Field</span>
                            <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern)" class="help-block">
                                <li>Must have Space between First and Lastname.</li>
                                <li>Must not contain special Charactors.</li>
                                <li>Must not contain any Number.</li>
                                <li>Must be atleast 3 Charactor but not more then 20.</li>
                            </ul>
                        </p>
                        <p ng-class="{'has-success':(!regForm.username.$pristine && regForm.username.$valid && !register.usernameInvalid), 'has-error':((!regForm.username.$pristine && !regForm.username.$valid) || (regForm.$submitted && !regForm.usernamename.$valid) || register.usernameInvalid)}">  
                            <label for="username">Your username</label>
                            <input id="username" name="username" ng-blur="register.checkUsername(regData)" ng-model="register.regData.username" required="required" type="text" placeholder="mysuperusername" ng-minlength="6" ng-maxlength="25"/>
                            <span class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This is the required Field</span>
                            <span class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</span>
                        </p>
                        <p ng-class="{'has-success':(!regForm.email.$pristine && regForm.email.$valid && !register.emailInvalid), 'has-error':((!regForm.email.$pristine && !regForm.email.$valid) || (regForm.$submitted && !regForm.email.$valid) || register.emailInvalid)}">  
                            <label for="email"> Your email</label>
                            <input id="email" name="email" ng-blur="register.checkEmail(regData)" ng-model="register.regData.email" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-maxlength="40" ng-minlength="3" required="required" type="text" placeholder="mysupermail@mail.com"/> 
                            <span class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This is the required Field</span>
                            <span class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</span>
                            <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern)" class="help-block">
                                <li>Must contain @</li>
                                <li>Must not contain special Charactors.</li>
                                <li>Must be atleast 3 Charactor but not more then 40.</li>
                            </ul>
                        </p>
                        <p> 
                            <label for="contact"> Your contact</label>
                            <input  id="contact" name="contact" ng-model="register.regData.contact" type="text" placeholder="eg. 9784561236"/> 
                        </p>
                        <p ng-class="{'has-success':(!regForm.password.$pristine && regForm.password.$valid), 'has-error':((!regForm.password.$pristine && !regForm.password.$valid) || (regForm.$submitted && !regForm.password.$valid))}">  
                            <label for="password">Your password </label>
                            <input id="password" name="password" ng-model="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            <span class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This is the required Field</span>
                        </p>
                        <p ng-class="{'has-success':(!regForm.confirmpassword.$error.required && confirmed), 'has-error':((!regForm.confirmpassword.$error.required && !confirmed) || (regForm.confirmpassword.$error.required && !regForm.confirmpassword.$pristine))}">  
                            <label for="confirmpassword">Confirm password </label>
                            <input name="confirmpassword" ng-model="confirm" match="{{[password]}}" ng-change="register.regData.password = confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            <span class="help-block" ng-show="(!regForm.confirmpassword.$pristine && regForm.confirmpassword.$error.required) || (regForm.$submitted && regForm.confirmpassword.$error.required)">This is the required Field</span>
                            <span class="help-block" ng-show="!confirmed && !regForm.confirmpassword.$pristine && regForm.password.$valid && !regForm.confirmpassword.$error.required">Password does not Match</span>
                        </p>
                        <p class="signin button"> 
                            <input id="btn-signup" type="submit" value="Sign up"/> 
                        </p>
                        <p class="change_link">  
                            Already a member ?
                            <a href="#/login" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
   
    
</div>
