<div class="page-header">
    <h1>Account Activation</h1>
</div>

<br/>
<div class="container">
    <div class="row show-hide-message" ng-show="activate.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{activate.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="activate.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{activate.errorMsg}}</div>
    </div>
</div>