<div class="container">
    <div class="row show-hide-message" ng-show="resend.successMsg">
        <div class="alert alert-success col-md-6 col-md-offset-3">{{resend.successMsg}}</div>
    </div>
    <div class="row show-hide-message" ng-show="resend.errorMsg">
        <div class="alert alert-danger col-md-6 col-md-offset-3">{{resend.errorMsg}}</div>
    </div>
    
    <header>
        <h1>Resend Activation Link</h1>
    </header>
    <section>				
        <div id="container_demo" >
            <div id="wrapper">
                <div id="resend" class="animate form">
                    <form id="resendForm" ng-submit="resend.checkCredentials(loginData)"> 
                        <h1>Credentials</h1> 
                        <p> 
                            <label for="username"> Your username </label>
                            <input id="username" name="username" ng-model="resend.loginData.username" type="text" placeholder="myusername"/>
                        </p>
                        <p> 
                            <label for="password"> Your password </label>
                            <input id="password" name="password" ng-model="resend.loginData.password" type="password" placeholder="eg. X8df!90EO" /> 
                        </p>
                          <p class="resend button"> 
                            <input id="btn-submit" type="submit" value="Submit"/> 
                        </p>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>
